In [1]:
import numpy as np
import pandas as pd
from Factor_Calculate import Factor

1

In [2]:
factors = Factor()

In [7]:
def calc_wap2(df: pd.DataFrame) -> pd.Series:
    wap = (df['bid_price2'] * df['ask_size2'] + df['ask_price2'] * df['bid_size2']) / (df['bid_size2'] + df['ask_size2'])
    return wap

In [8]:
# 计算feature的函数
def wap2(df:pd.DataFrame) -> pd.Series:
    df['wap2'] = calc_wap2(df)
    return df

In [9]:
# 传参格式
func_call = {'wap2':[wap2,[np.sum, np.mean, np.std]]}
# 调试用，生成1个feature
df = factors.book_feature(func_call=func_call,stock_id='stock_id=0')
# 对每个股票代码生成1个feature

# df = factors.make_book_feature(func_call)


# data = factors.load_data(book=True,stock_id='stock_id=0')
# data
# factors.make_book_feature(func_call)

1

In [10]:
df

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,wap2,stock_id
0,5,0,1.001422,1.002301,1.001370,1.002353,3,226,2,100,1.001390,stock_id=0
1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100,1.001390,stock_id=0
2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100,1.001391,stock_id=0
3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100,1.001391,stock_id=0
4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100,1.001391,stock_id=0
...,...,...,...,...,...,...,...,...,...,...,...,...
917548,32767,568,0.998275,0.998754,0.997796,0.998946,90,90,48,28,0.998522,stock_id=0
917549,32767,569,0.998275,0.998754,0.997892,0.998946,91,90,200,28,0.998817,stock_id=0
917550,32767,571,0.998275,0.998754,0.997892,0.998946,91,90,100,28,0.998715,stock_id=0
917551,32767,572,0.998275,0.998754,0.997892,0.998946,92,90,100,28,0.998715,stock_id=0
917552,32767,582,0.998275,0.998754,0.998179,0.998946,92,90,26,28,0.998549,stock_id=0

In [ ]:
# factors.book_dst
# RAM低于32G先别用，最后汇总时用，容易炸内存
factors.assemble(None)